body {
    background-color: #0b0a08; 
    color: white; 
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
}

.header {
    position: relative; 
    text-align: left;
    margin-bottom: 50px;
}

.image-container {
    position: relative;
    overflow: hidden; 
}

.image-container img {
    width: 100%; 
    height: auto; 
    display: block; 
    transition: opacity 0.5s ease-in-out; 
}

.image-container::before {
    content: ''; 
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: radial-gradient(circle, transparent, #0b0a08 80%);
    pointer-events: none;
}

.image-container h1 {
    position: absolute; 
    top: 10%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 125px; 
    margin: 0;
    z-index: 2; 
}

.image-container .subheading {
    position: absolute; 
    top: 16%; 
    left: 80%; 
    transform: translate(-50%, 0); 
    color: white; 
    font-size: 28px; 
    margin: 0;
    z-index: 2; 
}

.image-container .subheadingOne{
    position: absolute; 
    top: 80%; 
    left: 31%; 
    transform: translate(-50%, 0); 
    color: white; 
    font-size: 90px; 
    margin: 0;
    z-index: 2; 
}

.image-container .subheadingTwo{
    position: absolute; 
    top: 78%; 
    left: 4%; 
    transform: translate(-50%, 0); 
    color: white; 
    font-size: 28px; 
    margin: 0;
    z-index: 2; 
}


.skills, .featured-works, .contact {
    margin-bottom: 50px; 
}

.line {
    background-color: white; 
    height: 1px;
}

.about {
    text-align: justify; 
}

.featured-work {
    margin-bottom: 20px;
}

.featured-work img {
    max-width: 100%;
    height: auto; 
    display: block; 
}


.project-image {
    position: relative;
    width: 20%; 
    height: auto;
    overflow: hidden;
    display: inline-block; 
}


.project-order {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-order-image {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
